@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.woff') format('woff');
  src: url('../fonts/Ubuntu-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

:root {
  --bg-color-white: #fff;
  --bg-color-grey: #e7e6e6;
  --bg-color-footer: #4c5866;
  --bg-color-footer-white: #ebebeb;
  --title-color: #666;
  --text-color-light: #b5b5bd;
  --text-color-grey: #4c5866;
  --text-color-white: #ffffff;
  --text-color-purple: #7875fe;
  --icon-color: #4c5866;
  --text-footer: #bcbcbc;
  --text-color-dark: #85859b;
  --line-header-color: #ddd;
  --line-color: #c0c0c0;
  --btn-color: #7875fe;
  --link-color: #7875fe;
  --border-color: #c4c4c4;
  --btn-hover-color: #7875fe;
  --btn-focus-bg-color: #dad9fb;
  --btn-active-color: #4946b4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-dark);
  background-color: var(--bg-color-white);
  font-weight: 400;
  font-size: 18px;
  overflow-x: auto;
}

button {
  background: none;
}

ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 28px 0;
  background-color: var(--bg-color-white);
  border-bottom: 1px solid var(--line-header-color);
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  height: 22px;
}

.header_wrapper {
  display: flex;
}

.header_burger {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.header_burger div {
  width: 21px;
  height: 2px;
  background-color: #4c5866;
  margin-bottom: 5px;
}

.header_burger div:last-child {
  margin-bottom: 0;
}

.menu_bottom {
  display: none;
}

.header_btns {
  display: flex;
  gap: 30px;
}

.header_btns_bottom {
  display: none;
}

.header_nav {
  margin-right: 60px;
  height: 24px;
}

.nav_list {
  height: 100%;
}

.nav_link {
  color: var(--text-color-grey);
}

.nav_item {
  margin-right: 60px;
  font-size: 20px;
  font-weight: 400;
}

.header_nav_tablet {
  width: 100%;
}

.header_nav_tablet .nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_tablet .nav_item {
  margin-right: 0;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link:hover {
  color: var(--link-color);
}

.nav_link:focus {
  outline: none;
  color: var(--text-color-grey);
  background-color: var(--btn-focus-bg-color);
}

.nav_link:active {
  color: var(--btn-active-color);
  background: none;
}

.header_btn {
  cursor: pointer;
}

.header_btn:last-child {
  margin-right: 0;
}

.header_btn svg {
  stroke: var(--icon-color);
}

.header_btn:hover svg {
  stroke: var(--btn-hover-color);
}

.header_btn:focus {
  background: var(--btn-focus-bg-color);
}

.header_btn:focus svg {
  stroke: var(--btn-hover-color);
}

.header_btn:active {
  background: none;
}

.header_btn:active svg {
  stroke: var(--btn-active-color);
}

.nav_tablet_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero {
  padding-top: 60px;
}

.hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.hero_wrapper::after {
  content: '';
  width: 540px;
  height: 560px;
  background-image: url('../images/hero-image.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.hero_content {
  max-width: 445px;
  position: relative;
  z-index: 2;
  margin-bottom: 130px;
}

.hero_title {
  font-size: 60px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--text-color-grey);
  margin-bottom: 30px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color-dark);
}

.hero_text {
  margin-bottom: 30px;
}

.btn {
  border-radius: 0;
  padding: 20px 50px;
  width: 255px;
  height: 70px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 20px;
  font-weight: 400;
  transition: all 0.6s;
}

.btn:hover {
  background: var(--btn-hover-color);
  color: var(--text-color-white);
}

.btn:focus {
  background: var(--btn-focus-bg-color);
  color: var(--text-color-purple);
  outline: none;
}

.btn:active {
  background: var(--btn-active-color);
  color: var(--text-color-white);
  outline: none;
  border: none;
}

.info {
  padding: 90px 0;
  background: var(--bg-color-grey);
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.info_list {
  display: flex;
  gap: 30px;
}

.info_item {
  display: flex;
  border-top: 1px solid var(--line-color);
  padding-top: 20px;
  gap: 30px;
  align-items: center;
}

.info_content_title {
  font-size: 18px;
  line-height: 150%;
  color: var(--title-color);
  font-weight: 500;
}

.info_content_text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-color-dark);
}

.info_descr {
  display: flex;
  align-items: center;
  gap: 30px;
}

.info_descr::before {
  content: '';
  background-image: url('../images/info-folder.png');
  background-repeat: no-repeat;
  display: block;
  width: 730px;
  height: 564px;
  max-width: 100%;
}

.info_descr_content {
  max-width: 350px;
}

.info_descr_title {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: 20px;
}

.info_descr_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  color: var(--text-color-dark);
  margin-bottom: 24px;
}

.info_descr_text:last-child {
  margin-bottom: 0;
}

.products {
  padding: 90px 0;
}

.products_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.products_item_img {
  margin-bottom: 20px;
  width: 100%;
}

.products_item_title {
  font-size: 30px;
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 8px;
}

.products_item_curculation {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-ligh);
  margin-bottom: 8px;
}

.products_item_description {
  font-size: 18px;
  line-height: 170%;
  color: var(--text-color-dark);
  font-weight: 400;
  margin-bottom: 20px;
}

.products_item_link {
  font-size: 20px;
  font-weight: 400;
  color: var(--link-color);
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.products_item_link::after {
  display: none;
  content: '';
  background-image: url('../icons/arr-big.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 15px;
  transition: all 0.3s;
}

.products_item_link svg {
  fill: var(--link-color);
  width: 21px;
}

.products_item_link:hover {
  color: var(--btn-active-color);
}

.products_item_link:hover svg {
  fill: var(--btn-active-color);
}

.products_item_link:focus {
  color: var(--btn-active-color);
  background: var(--btn-focus-bg-color);
}

.products_item_link:focus svg {
  fill: var(--btn-active-color);
}

.products_item_link:active {
  display: flex;
  gap: 5px;
  background: none;
  color: var(--btn-active-color);
}

.products_item_link:active:after {
  display: block;
}

.products_item_link:active svg {
  display: none;
}

.partners {
  padding: 90px 0;
  background: var(--bg-color-grey);
}

.partners_list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.partner_item {
  width: 255px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border: 1px solid var(--border-color);
  transition: all 0.6s;
}

.partner_item:hover {
  background-color: var(--bg-color-white);
}

.sketchbook {
  padding-top: 90px;
}

.sketchbook_wrapper {
  display: flex;
  gap: 30px;
}

.sketchbook_content {
  max-width: 350px;
  padding-top: 20px;
}

.sketchbook_wrapper:after {
  content: '';
  background-image: url('../images/sketchbook.png');
  background-repeat: no-repeat;
  width: 66%;
  height: 410px;
  background-position: bottom;
  background-size: contain;
}

.sketchbook_title {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: var(--title-color);
  margin-bottom: 9px;
}

.sketchbook_text {
  font-size: 18px;
  line-height: 170%;
  font-weight: 400;
  color: var(--text-color-dark);
  margin-bottom: 30px;
}

.footer_top {
  background: var(--bg-color-footer);
  padding: 29px 0;
}

.footer_top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials_list {
  display: flex;
  gap: 30px;
}

.social_link svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.social_link svg rect {
  fill: none;
}

.social_link:hover svg {
  fill: var(--btn-hover-color);
}

.social_link:focus {
  outline: none;
}

.social_link:focus svg {
  fill: #dad9fb;
}

.social_link:focus svg rect {
  fill: var(--btn-hover-color);
  outline: none;
}

.social_link:active svg {
  fill: var(--btn-active-color);
}

.social_link:active svg rect {
  fill: none;
}

.footer_bottom {
  padding: 3px 0;
  background: var(--bg-color-footer-whit);
  text-align: center;
}

.footer_copy {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--text-color-grey);
  font-weight: 400;
}

.footer_copy span {
  color: var(--text-footer);
}

@media (max-width: 1169px) {
  .header {
    padding: 11px 0 20px;
  }

  .header_container {
    margin-bottom: 11px;
  }

  .header_logo {
    margin-right: 0;
  }

  .header_nav {
    display: none;
  }

  .menu_bottom {
    padding-top: 18px;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--line-header-color);
  }

  .hero {
    padding-top: 65px;
  }

  .hero_content {
    max-width: 390px;
    margin-bottom: 65px;
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_wrapper::after {
    background-image: url('../images/hero-image-tablet.png');
    width: 270px;
    height: 405px;
  }

  .info {
    padding: 60px 0;
  }

  .info_list {
    justify-content: space-between;
  }

  .info_item {
    flex-direction: column;
    align-items: start;
    min-width: 30%;
    gap: 0;
  }

  .info_descr {
    align-items: start;
    justify-content: space-between;
  }

  .info_container {
    gap: 40px;
  }

  .info_descr::before {
    background-size: contain;
    width: 492px;
    height: 379px;
  }

  .info_descr_content {
    max-width: 47.8%;
  }

  .products {
    padding: 60px 0;
  }

  .products_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners {
    padding: 60px 0;
  }

  .partner_item {
    width: 22%;
    height: 80px;
  }

  .sketchbook {
    position: relative;
    padding-top: 60px;
  }

  .sketchbook_content {
    padding: 0 0 60px 0;
    max-width: 50%;
  }

  .sketchbook_wrapper:after {
    position: absolute;
    background-image: url('../images/sketchbook-tablet.png');
    bottom: 0;
    right: 0;
    width: 369px;
    height: 334px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 39px;
  }

  .hero_wrapper {
    gap: 20px;
  }

  .hero_content {
    width: 50%;
  }

  .info_descr_container {
    max-width: 50%;
  }

  .info_descr_title {
    font-size: 30px;
  }

  .info_descr_text {
    margin-bottom: 18px;
  }

  .sketchbook_wrapper:after {
    width: 45%;
  }

  .sketchbook_title {
    font-size: 30px;
  }

  .partner_item {
    width: 20%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 33px;
  }

  .header {
    padding: 11px 0 20px;
  }

  .nav_tablet_container {
    width: 100%;
  }

  .nav_list {
    display: flex;
    justify-content: space-between;
  }

  .nav_item {
    margin-right: 0;
  }

  .hero {
    padding-top: 20px;
  }

  .hero_wrapper::after {
    background-image: url('../images/hero-image-tablet-510.png');
  }

  .hero_content {
    width: 70%;
    padding-top: 40px;
  }

  .hero_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .hero_text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .btn {
    width: 196px;
    height: 60px;
    padding: 20px 50px;
  }

  .info_item {
    min-width: 29%;
  }

  .info_item img {
    width: 150px;
  }

  .info_content_title {
    font-size: 16px;
  }

  .info_content_text {
    font-size: 16px;
  }

  .info_descr {
    flex-direction: column;
    gap: 20px;
  }

  .info_descr_content {
    max-width: 100%;
  }

  .info_descr_title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .info_descr_text {
    font-size: 16px;
  }

  .products_item_title {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .products_item_curculation {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .products_item_description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .partners_list {
    flex-wrap: wrap;
  }

  .partner_item {
    height: 127px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 47%;
  }

  .sketchbook_wrapper {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .sketchbook_wrapper:after {
    width: 100%;
    background-image: url('../images/sketchbook-tablet-510.png');
    height: 342px;
    position: static;
  }

  .sketchbook_content {
    max-width: 100%;
  }

  .sketchbook_title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .sketchbook_text {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 33px;
  }

  .header_container {
    justify-content: center;
  }
  .header_nav_tablet {
    display: none;
  }

  .header_burger {
    display: flex;
  }

  .header_btns {
    display: none;
  }

  .header_btns_bottom {
    display: flex;
  }

  .hero_wrapper::after {
    display: none;
  }

  .hero_content {
    width: 100%;
  }

  .info_list {
    flex-direction: column;
  }

  .info_item {
    align-items: center;
  }

  .products_cards {
    grid-template-columns: 1fr;
  }

  .partners_list {
    flex-wrap: nowrap;
    overflow: auto;
  }

  .partners_list::-webkit-scrollbar {
    display: none;
  }

  .partner_item {
    width: 150px;
    height: 80px;
  }

  .footer_top_container {
    flex-direction: column;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .socials_list {
    padding-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .socials_list {
    border-top: 1px solid var(--line-color);
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding: 11px 0 15px;
  }

  .menu_bottom {
    padding-top: 15px;
  }

  .hero {
    padding-top: 49px;
  }

  .hero_content {
    padding-top: 0;
    margin-bottom: 49px;
  }

  .info_item {
    flex-direction: row;
    gap: 30px;
  }

  .info_item img {
    width: 130px;
  }

  .info_container {
    gap: 60px;
  }

  .info_descr::before {
    width: 290px;
    height: 223px;
    margin-bottom: 20px;
  }

  .products_cards {
    gap: 60px;
  }

  .sketchbook_wrapper:after {
    height: 221px;
    width: 290px;
  }

  .sketchbook_wrapper {
    gap: 0;
  }
}